
body
{
  font-family: 'Amatic SC';
}

@keyframes fadeIn {
  0% { opacity: 0; 
  color: black;}
  100% { opacity: 1;
  color: black; }
}

.fade-in-text 
{
  animation: fadeIn 6s;
}

.claims1
{
 position: absolute;
 text-align: center;
 top: 14%; 
 font-size: 2em;
 color: white;
 font-weight: bolder;
 cursor: pointer;
}


#one:hover
{
  color: blue; 
}

.container
{
  display: flex;
  flex-direction: column;
  height: 60vh; 
  justify-content: center;
  vertical-align: center; 
  align-items: center;
}

.JustaSquare
{
   width: 160px;
   height: 160px;
   margin: 10%; 
   border: 2px solid black;
}


.addAnimation
{
  animation: spin 3s;
}
@keyframes spin 
{
  from
  {
    transform: rotate(0deg);
    
  }
  0%   { background: orange; }
  80%  { background: yellow;}
  80%  { background: lime; }
  80%  { background: green; }
  80%  { background: blue; }
  80%  { background: lightseagreen; }
  100% { background: white; }
  to 
  {
    transform: rotate(360deg);
  }
}

#roll
{
  height: fit-content;
  white-space: nowrap;
  cursor: pointer; 
  border-radius: 20px; 
  margin-left: 15px; 
  font-size: 1.5em;
  font-weight: bolder; 
  font-family: 'Amatic SC';
}

#reset
{
  height: fit-content; 
  position: absolute;
  left: 90%; 
  top: 90%; 
  font-family: 'Amatic SC';
  font-size: 1.5em;
  font-weight: bolder; 
}

h1
{
  text-align: center; 
  font-size: 3em;
}

#instruction
{
  font-size: 3em; 
  text-align: center; 
}

#choose
{
  font-size: 2em; 
  font-weight: bold; 
}